# Laravel standard
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/.env.*
!.env
.phpunit.result.cache
.phpunit.cache
/public/hot
/public/build
Homestead.json
Homestead.yaml

# IDEs & DevTools
/.vscode
/.idea
/.phpactor.json
/.fleet
/.zed

# Log and debug files
*.log
npm-debug.log
yarn-error.log

# Misc
auth.json
